<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>javawebQXZXlyp</display-name>
  <error-page>
    <error-code>500</error-code>
    <location>/back/error.jsp</location>
  </error-page>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>lyp.filter.EncodeFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginCheck</filter-name>
    <filter-class>lyp.filter.LoginCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheck</filter-name>
    <url-pattern>/back/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>lyp.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>lyp.servlet.UserManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BulletinManage</servlet-name>
    <servlet-class>lyp.servlet.BulletinManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsManage</servlet-name>
    <servlet-class>lyp.servlet.GoodsManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeManage</servlet-name>
    <servlet-class>lyp.servlet.TypeManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerManage</servlet-name>
    <servlet-class>lyp.servlet.CustomerManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>lyp.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>lyp.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartManage</servlet-name>
    <servlet-class>lyp.servlet.CartManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayManage</servlet-name>
    <servlet-class>lyp.servlet.PayManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustFrontManage</servlet-name>
    <servlet-class>lyp.servlet.CustFrontManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>YzmServlet</servlet-name>
    <servlet-class>lyp.servlet.YzmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowBulletin</servlet-name>
    <servlet-class>lyp.servlet.ShowBulletin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderManage</servlet-name>
    <servlet-class>lyp.servlet.OrderManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckEmail</servlet-name>
    <servlet-class>lyp.servlet.CheckEmail</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/back/userManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BulletinManage</servlet-name>
    <url-pattern>/back/bulletinManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsManage</servlet-name>
    <url-pattern>/back/goodsManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeManage</servlet-name>
    <url-pattern>/back/typeManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerManage</servlet-name>
    <url-pattern>/back/customerManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/front/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/front/productServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartManage</servlet-name>
    <url-pattern>/front/cartManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayManage</servlet-name>
    <url-pattern>/front/payManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustFrontManage</servlet-name>
    <url-pattern>/front/custFrontManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YzmServlet</servlet-name>
    <url-pattern>/front/yzmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBulletin</servlet-name>
    <url-pattern>/front/showBulletin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderManage</servlet-name>
    <url-pattern>/back/orderManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckEmail</servlet-name>
    <url-pattern>/front/checkEmail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/front/index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>